.navbar {
    background: linear-gradient(90deg, transparent, rgba(181, 181, 255, 0.5), transparent);
    

    /* Transparent background color */
}

/* ul.navbar-nav {
    background: linear-gradient(90deg, transparent, rgba(181, 181, 255, 0.5), transparent);

} */

.dropdown-item {
    /*background: rgba(181, 181, 255, 0.5);*/
    color:aliceblue

}

