/* Custom CSS */


body {
    background: linear-gradient(to top right, rgb(227, 127, 4), rgb(43, 43, 255));
    /*background-image: url('../Images/background.jpg');*/
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0; /* To remove default body margin */
    padding: 0; /* To remove default body padding */
    height: 100vh; /* Set the height of the body to the viewport height */
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

div p {
    color:#fff;
}

.center {
    margin-top: 22%;
    margin-bottom: 10%;
    margin-left:30%;
}

.centercontent {
    transform: scale(2);
}

.centerbutton {  
    background-color: rgba(255, 255, 255, 0.211);            
    border: .15em solid white; /* Transparent border */
    border-radius: 30%;
}

.centerbutton:hover {
    background: linear-gradient(to bottom left,rgb(31, 31, 210) 40%, rgb(147, 93, 27) 50%, rgb(31, 31, 210) 60%);    
    border: .15em solid black; /* Transparent border */
    color: white;
  }



.boxer a {
  position: relative;
  width:130px;
  height:40px;
  display:inline-block;
  margin:20px;
}



.boxer a:before,
.boxer a:after {
  content: '';
  position: absolute;
  inset: 0;
  transition: 0.5s;
  background:linear-gradient(45deg, blue,orange);
  border-radius: 15px;
}
.boxer a:hover:before {
  inset: -2px;
}
.boxer a:hover:after {
  inset: -2px;
  filter: blur(5px);
}
.boxer a span {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, rgba(78, 78, 85, 0.692) 69%, rgba(68, 59, 168, 0.404)71%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(241, 238, 218);
  border: 1px solid black;
  border-radius: 15px;
}


.boxer a span:hover {
  color: rgb(131, 161, 229);
  transition: 0.5s;
}

