/* Custom CSS */
body {
    background: linear-gradient(to top right, rgb(227, 127, 4), rgb(43, 43, 255));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0; /* To remove default body margin */
    padding: 0; /* To remove default body padding */
    height: 100vh; /* Set the height of the body to the viewport height */
  }

div p {
    color:#fff;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}