/* Custom CSS */
body {
    background: linear-gradient(to top right, rgb(227, 127, 4), rgb(43, 43, 255));
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0; /* To remove default body margin */
    padding: 0; /* To remove default body padding */
    height: 100vh; /* Set the height of the body to the viewport height */
  }

div p {
    color:#fff;
}

.footer {
    position: absolute;
    background-color: #333;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px; /* Adjust the gap between grid items as needed */
    justify-content: center;
}

.box {
    border: 1px solid #000;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}