body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 300px;
    margin: 0 auto;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin: 10px 0;
}

.cell {
    width: 100px;
    height: 100px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.status {
    margin: 10px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.return{ 
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 8%;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.286);
}